<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="Content/Images/favicon.ico">

    <title>Mediacare - Find a Doctor</title>

    <!-- Bootstrap core CSS -->
    <link href="Content/Assets/CSS/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="Content/Assets/CSS/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
    <!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Helvetica" />-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="Content/Assets/JS/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="Scripts/breeze.min.js"></script>

    <script type="text/javascript" src="Scripts/angular.js"></script>
    <!--<script type="text/javascript" src="Scripts/breeze.angular.q.js"></script>-->
    <!--<script type="text/javascript" src="Scripts/datajs-1.1.3.js"></script>-->
    <script type="text/javascript" src="Scripts/breeze.debug.js"></script>
    <script type="text/javascript" src="Scripts/breeze.angular.js"></script>

    <script type="text/javascript" src="App/Config/App.js"></script>
    <script type="text/javascript" src="App/Config/AccountsEntityManagerFactory.js"></script>
    <script type="text/javascript" src="App/Config/ConfigEntityManagerFactory.js"></script>
    <script type="text/javascript" src="App/Controllers/AccountsController.js"></script>    
    <script type="text/javascript" src="App/Services/AccountsService.js"></script>
    <script type="text/javascript" src="App/Controllers/ConfigController.js"></script>
    <script type="text/javascript" src="App/Services/ConfigService.js"></script>

    <script type="text/javascript" src="App/Logger.js"></script>
    <script type="text/javascript" src="Scripts/breeze.metadata-helper.js"></script>
        
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script src="App/Animation/angular-spinner.js"></script>
    <script type="text/javascript" src="Scripts/angular-animate.js"></script>
    <link href="Content/animations.css" rel="stylesheet">
    <script type="text/javascript" src="App/Animation/alerts-manager.js"></script>
        
    <script type="text/javascript" src="App/CustomDirectives/filters.js"></script>

    <link href="Content/Assets/CSS/angular.rangeSlider.css" rel="stylesheet">
    <script type="text/javascript" src="App/CustomDirectives/angular.rangeSlider.js"></script>
    <script type="text/javascript" src="App/CustomDirectives/rangeFilter.js"></script>
    <script type="text/javascript" src="App/CustomDirectives/timeRangeFilter.js"></script>

    <!--<script type="text/javascript" src="App/Services/metadataTest.js"></script>-->
</head>
<script type="text/javascript">

    $(document).ready(function () {

        $('#page_effect').fadeIn(3000);

    });

</script>
<style>
    body {
        background-image: url(Content/Images/bg.png);
    }
</style>
<body>
    <!--container-->

    <div class="container" style=" margin-top:10px;" data-ng-controller="accountsController as accountsControllerVM">
        <header class="row">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="Index.html"><b>Medicare</b></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </header>
        <span us-spinner="{radius:50, width:16, length: 32}" spinner-key="spinner-1"></span>                   
        <!--Middle form 1-->        
        <div id="page_effect" style="display:none;">        
                <div class="row" data-ng-show="accountsControllerVM.isVisible">
                    <div class="col-md-12 col-sm-12" style="background-color:#fff; border-radius:10px; border:1px solid #FFF;margin-top:50px; padding:20px">
                        <div class="col-md-4 col-sm-4 col-md-push-8 col-sm-push-8">
                            <h2>Registration </h2>
                            <div class="form-group">
                                <input id="textinput" name="name" placeholder="Name" class="form-control input-md" type="email" data-ng-model="accountsControllerVM.signupName">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="radio" name="gender" id="inlineCheckbox1" value="1" data-ng-model="accountsControllerVM.signupGender"> Male
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="gender" id="inlineCheckbox2" value="2" data-ng-model="accountsControllerVM.signupGender"> Female
                                </label>
                            </div>
                            <div class="form-group">
                                <input id="textinput" name="phoneNumber" placeholder="Phone Number" class="form-control input-md" type="text" data-ng-model="accountsControllerVM.signupPhoneNumber">
                            </div>
                            <div class="form-group">
                                <input id="textinput" name="emailAddress" placeholder="Email Address" class="form-control input-md" type="email" data-ng-model="accountsControllerVM.signupEmailAddress">
                            </div>
                            <div class="form-group">
                                <input id="textinput" name="password" placeholder="Password" class="form-control input-md" type="password" data-ng-model="accountsControllerVM.signupPassword">
                            </div>
                            <div class="form-group">
                                <input id="textinput" name="retypePassword" placeholder="Retype Password" class="form-control input-md" type="password" data-ng-model="accountsControllerVM.signupRetypePassword">
                            </div>
                            <div class="form-group">
                                <a href="#" ng-click="accountsControllerVM.setVisibility();accountsControllerVM.getSpecialties();accountsControllerVM.getCountries();accountsControllerVM.getCities();accountsControllerVM.getLocalities();" class="btn btn-success btn-lg btn-block" role="button">Continue</a>
                            </div>
                        </div>
                        <div class="col-md-8  col-sm-8 col-md-pull-4 col-sm-pull-4 " style="background-color:#fff">
                            <!--<img src="images/e.jpg" class="img-responsive" />-->                            
                            <div>
                                
                                <div class="col-sm-9 col-lg-9" ng-controller="accountsController as accountsControllerVM">
                                    <div data-ng-repeat="(key,val) in alerts" class="alert {{key}}">
                                        <ul>
                                            <li data-ng-repeat="msg in val">{{msg}}</li>
                                        </ul>
                                    </div>
                                
                                </div>
                            </div>                            
                            <div> Text will be here </div>
                        </div>
                    </div>
                </div>

                <div class="row" data-ng-hide="accountsControllerVM.isVisible">
                    <div class="col-md-12 col-sm-12" style="background-color:#fff; border-radius:10px; border:1px solid #FFF;margin-top:50px; padding:20px">
                        <div class="col-md-4 col-sm-4 col-md-push-8 col-sm-push-8">
                            <h2>Registration </h2>
                            <div class="form-group">
                                <input id="textinput" name="clinicName" placeholder="Clinic Name" class="form-control input-md" type="text" data-ng-model="accountsControllerVM.signupClinicName">
                            </div>



                            <!--<div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Major Specialty
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Allergy and Immunology</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Orthopaedics</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Neurology</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">General surgery</a></li>
                        </ul>
                    </div>-->
                            <!--<div data-ng-repeat="c in city">-->
                            <!--<input type="text" class="form-control" data-ng-model="accountsControllerVM.signupMajorSpecialty" list="signupSpecialtiesDatalist" placeholder="Major Specialty">

                    <datalist id="signupSpecialtiesDatalist">
                        <option data-ng-repeat="specialty in accountsControllerVM.specialtiesList" value="{{specialty.title}}">
                    </datalist>-->

                            <select style="width:346px" class="dropdown btn btn-default dropdown-toggle" data-ng-model="accountsControllerVM.signupMajorSpecialty">
                                <option value="" selected disabled>Major Specialty</option>
                                <option data-ng-repeat="specialty in accountsControllerVM.specialtiesList" value="{{specialty.specialtyId}}">{{specialty.title}}</option>
                            </select>
                            <br />
                            <br />

                            <!--</div>-->
                            <!--<option value="Orthopaedics">Orthopaedics</option>
                        <option value="Allergy and Immunology">Allergy and Immunology</option>
                    <option value="Neurology">Neurology</option>
                    <option value="General surgery">General surgery</option>-->
                            <!--<div class="form-group">
                        <input id="textinput" name="majorSpecialty" placeholder="Major Specialty" class="form-control input-md" type="text" data-ng-model="vm.signupMajorSpecialty">
                    </div>-->

                            <div class="form-group">
                                <select style="width:346px" class="dropdown btn btn-default dropdown-toggle" data-ng-model="accountsControllerVM.signupCountry">
                                    <option value="" selected disabled>Country</option>
                                    <option data-ng-repeat="country in accountsControllerVM.countriesList" value="{{country.countryId}}">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select style="width:346px" class="dropdown btn btn-default dropdown-toggle" data-ng-model="accountsControllerVM.signupCity">
                                    <option value="" selected disabled>City</option>
                                    <option data-ng-repeat="city in accountsControllerVM.citiesList" value="{{city.cityId}}">{{city.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select style="width:346px" class="dropdown btn btn-default dropdown-toggle" data-ng-model="accountsControllerVM.signupArea">
                                    <option value="" selected disabled>Area</option>
                                    <option data-ng-repeat="area in accountsControllerVM.localitiesList" value="{{area.localityId}}">{{area.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input id="textinput" name="clinicAddress" placeholder="Clinic Address" class="form-control input-md" type="text" data-ng-model="accountsControllerVM.signupClinicAddress">
                            </div>

                            <div class="form-group">
                                <button id="singlebutton" name="singlebutton" class="btn btn-success btn-lg btn-block " data-ng-click="accountsControllerVM.providerRegistration();">Get Listed</button>
                            </div>

                        </div>

                        <div class="col-md-8  col-sm-8 col-md-pull-4 col-sm-pull-4 " style="background-color:#fff">
                            <!--<img src="images/e.jpg" class="img-responsive" />-->
                            <div>                                
                                <div class="col-sm-9 col-lg-9" ng-controller="accountsController as accountsControllerVM">
                                    <div data-ng-repeat="(key,val) in alerts" class="alert {{key}}">
                                        <ul>
                                            <li data-ng-repeat="msg in val">{{msg}}</li>
                                        </ul>
                                    </div>                                 
                                </div>
                            </div>
                            <div> Text will be here </div>
                        </div>

                    </div>
                </div>

            </div>

        <!--///////////////////////////////////////////////////////////////////////// -->
        <!--Middle form 2-->
        <!--End form-->
        <!-- ////////////////////////////////////////////////////////-->

        <div id="footer" class="row">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:#000">
                <div class="navbar-inner navbar-content-center">
                    <div class="col-lg-4 centered">
                        <a href="#" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">About US</a>
                        <a href="#" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">Contact</a>
                        <a href="#" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">T & T</a>
                        <a href="#" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">Privacy</a>
                        <a href="#" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">Doctor</a>
                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4 centered">
                        <span style="font-size:11px; color:#FFF">Copyright © 2014, Medicare. All Rights Reserved</span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- /container -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="Content/Assets/JS/bootstrap.min.js"></script>
</body>
</html>
